{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/12.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p align="justify">COYEM LIMITADA, es una constructora, fundada el año 2013, con la finalidad de satisfacer los requerimientos de un mercado principalmente orientados al área industrial, privada y pública, enfocados a las necesidades de construcción, fabricación y montaje de estructuras de acero, ejecución de obras civiles, servicios y mantención en general.</p>
            <p align="justify">Somos una empresa Constructora en que su equipo gestor cuenta con más de 20 años de experiencia con obras de diversas magnitudes, donde nos esforzamos por entregar soluciones en conjunto, dando valor agregado a nuestros servicios y complementando nuestras necesidades como de nuestros mandantes.</p>
            <p align="justify">Constructora COYEM LIMITADA, cuenta con una base de datos de proveedores de servicios y materiales, calificados con altos estándares a nivel regional y nacional. Así como también con un proceso exhaustivo de filtro que tiene al contratar cada de las personas que lleguen a laborar en ella, garantizando respeto, seguridad, y calidad tanto para el trabajado, la empresa y nuestros mandantes, optimizando los niveles de confianza y lazos de quienes confían en nosotros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}